/* General Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:none;
}

ol, ul {
	list-style-type:none;
}

h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}

blockquote, q {
	quotes:none;
}

q:before, q:after {
	content:"";
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, textarea, select {
	font:12px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}

textarea {
	overflow:auto;
	resize:none;
}

body {
	margin:0px;
	padding:0px;
	font-size:13px;
	line-height:20px;
	color:#424f4f;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/body_bg.jpg) repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size:33px;
	color:#1d2424;
	margin-bottom:20px;
}

h2 {
	font-size:20px;
	color:#1d2424;
	margin-bottom:20px;
}

h3 {
	font-size:18px;
	color:#1d2424;
	margin-bottom:20px;
}

h4 {
	font-size:16px;
	color:#1d2424;
	margin-bottom:15px;
}

h5 {
	font-size:14px;
	color:#1d2424;
	margin-bottom:10px;
}

h6 {
	font-size:12px;
	color:#1d2424;
	margin-bottom:10px;
}

	/*  links
	******************************/
	a {color: #4A5417;text-decoration: underline;}
	a:hover {color: #4A5417;text-decoration: none;}

	/*  superscript and subscript
	******************************/
	sup, sub {vertical-align: baseline;position: relative;top: -0.4em;}
	sub { top: 0.4em; }
	
	/*  lists
	******************************/
	ul, ol {padding:0;margin:0;}
	ul li {list-style-type:disc;}
	ol li {list-style-type:decimal;}
	ul li,
	ol li {font-size: 12px; line-height: 16px;margin: 0 0 10px 15px;}

	/*  tables
	******************************/
	table,th,td {border:1px solid #BBBBBB;}
	th {padding:3px; font-weight:bold;color:#344b3b;}
	tr {margin:0 0 5px 0;padding:3px;}
	td {padding:5px;margin:0 1px;}
	
	/*  horizontal lines
	******************************/
	hr {border-bottom: 1px solid #dbdfc4;margin:5px 0;padding:0;height:2px;width:100%; margin-bottom:10px;}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}

#wrapper {
	width:1000px;
	margin:0 auto;
	padding:10px 0 10px 0;
}

/*----start header----*/
#header {
	padding:0px;
}

#header .banner_img{
	background:url(../images/header.jpg) no-repeat left top;
	height:195px;
	padding:90px 95px 0 95px;
}

#header h1{
	font-size:32px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#3c0721;
	font-weight:bold;
	margin:0px;
	padding:0px 0px 10px;
}

#header h1 a {
	color:#3c0721;
	text-decoration: none;
}

#header h1 a:hover {
	text-decoration: none;
}

#header p{
	font-size:16px;
	margin-left:1px;
	color:#3c0721;
}

.navigation{
	border-bottom:#adb1b2 solid 1px;
	padding:15px 5px;
	background: #282924;
}

.navigation ul{
	margin:0px;
	padding:0px;
}

.navigation ul li{
	margin:0px;
	padding:0px 35px;
	display:inline;
	font-size:15px;
	list-style-type:none;
	border-right:#b2b3ad dotted 1px;
}

.navigation ul li a{
	color:#d9dfd1;
	text-decoration:none;
}

.navigation ul li a:hover{
	color:#ffffff;
}

.navigation ul li:last-child {
	border-right:none;
}
/*----end header----*/


/*----start page content----*/
#page_content{
	background-color:#eff4d6;
	padding:10px;
}

#page_content .left_section{
	padding:15px;
	width:740px;
	float:left;
}

#page_content .left_section .top_content{
	padding:0 0 15px 0;
	border-bottom:#dbdfc4 solid 1px;
	margin-bottom:20px;
}

#page_content .left_section .top_content .column_one{
	width:350px;
	float:left;
	margin-bottom:20px;
}

#page_content .left_section .top_content .column_two{
	width:350px;
	float:right;
	margin-bottom:20px;
}

a.btn{
	color:#20251f;
	font-size:12px;
	text-decoration:none;
	padding:7px 8px 7px 8px;
	font-weight:bold;
	display:inline-block;
	border:#929989 solid 1px;
}

a.btn:hover{
	text-decoration:underline;
}

.common_content{
	padding:0 0 20px 0;
}

.border_none{
	border:none!important;
	margin:0px!important;
}

.right_side_bar{
	width:200px;
	margin-top:10px;
	float:right;
}

.right_side_bar h1{
	font-size:20px;
	padding:0 0 0 25px;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-bottom:10px;
	background:url(../images/star.png) no-repeat left center;
}

.right_side_bar .col_1{
	padding:20px 0 0 0;
}

.right_side_bar .col_1 .box{
	padding:10px 4px;
}

.right_side_bar .col_1 .box ul{
	margin:0px;
	padding:0px;
}

.right_side_bar .col_1 .box ul li{
	margin:0px 0px 8px;
	padding:0px 0px 0px 20px;
	font-size:12px;
	list-style-type:none;
	background:url(../images/li.png) no-repeat left center;
}

.right_side_bar .col_1 .box ul li a{
	color:#283d2c;
	text-decoration:underline;
}

.right_side_bar .col_1 .box ul li a:hover{
	color:#283d2c;
	text-decoration:none;
}

.border_left{
	border-left:#a6aa91 dotted 1px;
	padding-left:20px;

}
/*----end page content----*/


/*----start footer content----*/
#footer{
	clear:both;
	padding:20px 0 20px 0;
	height:30px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:20px;
	background-color:#eff4d6;
}

/*----end footer content----*/